*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    /* background-size: cover; */
    background: linear-gradient(.5turn, #ffb98a,  #b0ce86,  #ffb98a);
}

#content {
    height: 100%;
    width: 100%;
}

#menu {
    padding: 22px;
    height: 100%;
    width: 100%;
    background: rgba(72,140,81);
    overflow: scroll;
}

#home {
    padding-top: 80px;
    text-align: center;
    width: 100%;
    height: fit-content;
    font-size: 2.2rem;
    min-width: 500px;
}

.topnav {
    background: #ffb98a;
    padding-left: 20px;
    padding-top: 2vh;
    min-width: 600px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    border-bottom: 5px solid black;

}

.topnav button {
    border-radius: 10px 10px 0 0;
    float: left;
    color: #b0ce86;
    text-align: center;
    padding: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    outline: none;
    border: 3px solid black;
    margin: 0%;
    min-width: 90px;
    
}

.topnav button:hover {
    color: #db5f3d;
    cursor: pointer;
}

.topnav button.active {
    background-color: #fffdfe;
    border-bottom: 3px solid #fffdfe;
    color:#db5f3d;
}

h1 {
    color:#fffdfe;
}

p {
    color: #fffdfe;
    margin: 15px 10px 10px 10px;
}

a {
    color: rgba(72,140,81);
}

@keyframes logoAnimation {
    0% { width: 35%; opacity: 0; margin-bottom: 1500px; margin-top: 60px;}
    50% {width: 30%; opacity: 1;}
    75% {width: 35%; opacity: 1; margin-bottom: 1500px;}
    100% {width: 10% }
}

.logoHome {
    border-radius: 10%;
    width: 10%;
    min-width: 225px;
    transition: .5s;
    border: 3.5px solid black;
    box-shadow: 2px 1px rgb(1, 96, 1);
    animation-name: logoAnimation;
    animation-duration: 4s;
}

.logo {
    border-radius: 10%;
    width: 10%;
    min-width: 225px;
    transition: .5s;
    border: 3.5px solid black;
    box-shadow: 2px 1px rgb(1, 96, 1);
}

.logo:hover {
    box-shadow: 3px 2px rgb(1, 96, 1);
    transform: scale(1.05);
    cursor: pointer;
}


.grub {
    border-radius: 20%; 
    margin: 12px;
    margin-top: 5px;
    min-width: 75px; 
    width: 4vw; 
    border: none;
    box-shadow: 1px 2px rgb(1, 96, 1);
    opacity: 0.88;
}
.grub:hover {
    box-shadow: 3px 3px rgb(1, 96, 1);
    transform: scale(1.05);
    opacity: 1;
}

.hours {
    font-size: 2.8vh;
    width: fit-content;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    background-color: #fffdfe;
    height: fit-content;
    margin: auto;
    margin-top: -30px;
    text-align:left;
    font-size: 22px; 
    padding: 25px;
    border: 5px solid black;
    opacity: 0.97;
    box-shadow: 3px 4px rgb(1, 96, 1);
    color: black;
    border-radius: 10px;
}

.hours:hover {
    box-shadow: 5px 6px rgb(1, 96, 1);
    transform: scale(1.02);
}

th {
    text-align: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #f2f2f2;
    width: 75%;
    height: fit-content;
    margin: 18px;
    text-align:left;
    font-size: 22px; 
    padding: 15px;
    border: 2px solid black;
    min-width: 381px;
    box-shadow: 2px 3px rgb(1, 96, 1);
    border-radius: 10px;
}

.flex-container-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-options {
    background-color: #fffdfe;
    width: 50%;
    height: fit-content;
    margin: 10px;
    text-align:left;
    font-size: 20px; 
    padding: 15px;
    border: 2px solid black;
    opacity: 0.97;
    box-shadow: 2px 3px rgb(1, 96, 1);
    border-radius: 10px;
}

.card-options:hover {
    box-shadow: 3px 4px rgb(1, 96, 1);
    opacity: 1;
    transform: scale(1.005);
}

@media only screen and (max-width: 1000px) {

    .card-options {
        background-color: #fffdfe;
        width: 75%;
        height: fit-content;
        margin: 10px;
        text-align:left;
        font-size: 25px; 
        padding: 15px;
        border: 2px solid black;
        opacity: 0.97;
        box-shadow: 2px 3px rgb(1, 96, 1);
        border-radius: 10px;
    }

    .card {
        background-color: #f2f2f2;
        width: 80%;
        height: fit-content;
        margin: 18px;
        text-align:left;
        font-size: 25px; 
        padding: 15px;
        border: 2px solid black;
        min-width: 381px;
        box-shadow: 2px 3px rgb(1, 96, 1);
        border-radius: 10px;
    }

    #home {
        padding-top: 120px;
        text-align: center;
        width: 100%;
        height: fit-content;
        font-size: 3.9rem;
        min-width: 500px;
    }

    @keyframes logoAnimation {
        0% { width: 80%; opacity: 0; margin-bottom: 3000px; margin-top: 60px;}
        50% {opacity: 1;}
        100% {width: 55% }
    }
    
    .logoHome {
        border-radius: 10%;
        width: 55%;
        min-width: 225px;
        transition: .5s;
        border: 3.5px solid black;
        box-shadow: 2px 1px rgb(1, 96, 1);
        margin-top: 60px;
        animation-name: logoAnimation;
        animation-duration: 4s;
    }

    .logo {
        border-radius: 10%;
        width: 55%;
        min-width: 225px;
        transition: .5s;
        border: 3.5px solid black;
        box-shadow: 2px 1px rgb(1, 96, 1);
        margin-top: 60px;
        /* animation-name: logoAnimation;
        animation-duration: 4s; */
    }

    .hours {
        font-size: 3.6rem;
        width: fit-content;
        line-height: 1.1;
        display: flex;
        justify-content: center;
        background-color: #fffdfe;
        height: fit-content;
        margin: auto;
        margin-top: -30px;
        text-align:left;
        padding: 25px;
        border: 5px solid black;
        opacity: 0.97;
        box-shadow: 4px 5px rgb(1, 96, 1);
        color: black;
        border-radius: 10px;
    }

    .topnav button {
        border-radius: 10px 10px 0 0;
        float: left;
        color: #b0ce86;
        text-align: center;
        padding: 10px;
        padding-bottom: 5px;
        text-decoration: none;
        font-size: 2.3rem;
        background-color: black;
        outline: none;
        border: 3px solid black;
        margin: 0%;
        width: 24%;
        min-width: 90px;
        
    }
}

.card:hover {
    box-shadow: 3px 4px rgb(1, 96, 1);
    transform: scale(1.005);
    background-color: #ffffff;
}

.titlecard {
    background-color: #d6faa3;
    color: #ba4f32;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    margin-left: 6vw;
    text-align: center;
    padding: 10px;
    padding-top: 13px;
    font-size: 35px; 
    justify-content:center;
    border: 3.5px solid black;
    min-width: 150px;
    min-height: 10px;
    opacity: 1;
    box-shadow: 2px 3px rgb(1, 96, 1);
    position: relative;
    bottom: 42px;
}

.line {
    background-color: black;
    width: 90%;
    height:5px;
    margin-left: 5%;
}

.container {
    position: relative;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.image {
    display: block;
    width: 40vw;
    min-width: 200px;
    height: 100%;
    border: 5px solid black;
    box-shadow: 3px 4px rgb(1, 96, 1);
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s;
}

.container:hover .overlay {
    opacity: .9;
}

.text {
    background-color: #d6faa3;;
    padding: 10px;
    border: 2px solid black;
    color: #ba4f32;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 2px 3px rgb(44, 45, 44);
    width: auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: auto;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-align: center;

}

.grid-item {
    padding: 20px;
    font-size: 30px;
}

/* .footer {
    margin-bottom: 10px;
} */

