*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;

}

#content {
    height: 100%;
    width: 100%;
}

#menu {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #f0f0f0;

}

#home {
    text-align: center;
    width: 100%;
    height: 100vh;
    font-size: 1.9rem;
    background-color: #f0f0f0;
}

.topnavHome {
    background: white;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 65px;
}

.topnav {
    background: #f0f0f0;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 65px;
}

.buttonHome {
    float: center;
    color: #488c51;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 1.8rem;
    outline: none;
    margin: 12px;
    background: white;

}

button {
    float: center;
    color: #488c51;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 1.8rem;
    outline: none;
    margin: 12px;
    background: #f0f0f0;

}

button:hover {
    color: #db5f3d;
    cursor: pointer;

}

.buttonHomeActive {
    background-color:white;
    color:#db5f3d;
}

button.active {
    background-color: #f0f0f0;
    color:#db5f3d;
}



h1 {
    color:#fffdfe;
}

.copy {
    color: black;
    background: #f0f0f0;
    padding: 15px;
    width: 80%;
    margin: auto;
    font-size: 2.5rem;
}

.last {
    padding-bottom: 30px;
    background: #f0f0f0;

}

a {
    color: #ffb98a;
}

.logoHome {
    height: 100vh;
    min-width: 225px;
    padding: 80px;
    padding-right: 10%;
}

.logoDiv {
    background-color: white;
}

.boxContainer {
    background-color: #488c51;
    color: white;
    height: fit-content;
    width: 50%;
    float: right;
    bottom: 0;
    padding: 35px;
    overflow-y: auto;

}

.leftBox {  
    color: white;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #488c51;
    bottom: 0;
}
.rightBox {
    background-color: #488c51;
    color: white;
    height: fit-content;
    width: 50%;
    float: right;
    bottom: 0;
    padding: 35px;
    border-left: 4px solid black;
    overflow-y: auto;
}

.rightBox p {
    font-size: 15px;
}

.featuredFood {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    width: 100%;
}

.featuredFood2 {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    width: 100%;
    margin-bottom: -20px;
}




.grub {
    border-radius: 20%; 
    width: 3rem; 
    border: 2px solid black;
    margin-left: 15px;
}

.grub:hover {
    transform: scale(1.05);
    opacity: 1;
}



.contactContainer {
    height: fit-content;
}

.hours {
    width: fit-content;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;

    text-align:left;
    font-size: 2rem; 
    padding: 25px;
    opacity: 0.97;
    color: black;
}

.form {
    width: fit-content;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    background-color: #fffdfe;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align:left;
    font-size: 2rem; 
    padding: 25px;
    border: 3px solid black;
    opacity: 0.97;
    color: black;
}


th {
    text-align: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    width: 75%;
    height: fit-content;
    margin: 18px;
    text-align:left;
    font-size: 25px; 
    padding: 15px;
    border: 2px solid black;
    min-width: 381px;
    box-shadow: 2px 3px rgb(52, 52, 52);
    border-radius: 5px;
}

.flex-container-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-options {
    background-color: white;
    width: 50%;
    height: fit-content;
    margin: 10px;
    text-align:left;
    font-size: 18px; 
    padding: 15px;
    border: 2px solid black;
    opacity: 0.97;
    box-shadow: 2px 3px rgb(52, 52, 52);
    border-radius: 5px;
}

.card-options b {
    font-size: 24px; 

}


.titlecard {
    background-color: #ffffff;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    margin-left: 6vw;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    font-size: 35px; 
    justify-content:center;
    border: 3.5px solid black;
    min-width: 150px;
    min-height: 10px;
    opacity: 1;
    box-shadow: 2px 3px rgb(52, 52, 52);
    position: relative;
    bottom: 42px;
}

.line {
    background-color: black;
    width: 90%;
    height:5px;
    margin-left: 5%;
}

.container {
    position: relative;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.image {
    display: block;
    object-fit: cover;
    min-width: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s;
}

.container:hover .overlay {
    opacity: .9;
}

.text {
    background-color: #d6faa3;;
    padding: 10px;
    border: 2px solid black;
    color: #ba4f32;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 2px 3px rgb(44, 45, 44);
    width: auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: auto;
    align-content: center;
    justify-content: center;
    margin: auto;
    text-align: center;

}

.grid-item {
    padding: 20px;
    font-size: 30px;
    width: 30vw;
    height: 30vw;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 17px;
    background-color: rgb(133, 131, 131);
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    border-top: 3px solid black;
}

.social {
    width: 50%;
    display: flex;
    float: left;
}

.copyright {
    width: 30%;
    float: right;
    right: 0;
    color: #f0f0f0;
    font-size: 20px;
    align-items: right;
    margin-left: 180px;
}

#map {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


@media only screen and (max-width: 1025px) {

    .topnavHome {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        position: fixed;
        z-index: 1000;
        top: 0px;
        width: 100%;
        height: fit-content;
        margin: auto;
    }
    
    .topnav {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        position: fixed;
        z-index: 1000;
        top: 0px;
        width: 100%;
        height: fit-content;
        border-bottom: 3px solid black;
    }
    

    button {
        float: center;
        color: #488c51;
        text-align: center;
        border: none;
        text-decoration: none;
        font-size: 4.5vw;
        outline: none;
        margin: 10px;
        background: white;
    
    }

    .card-options {
        background-color: #fffdfe;
        width: 75%;
        height: fit-content;
        margin: 10px;
        text-align:left;
        font-size: 25px; 
        padding: 15px;
        border: 2px solid black;
        opacity: 0.97;
        box-shadow: 2px 3px rgb(89, 89, 89);
        border-radius: 10px;
    }

    .card {
        background-color: #f2f2f2;
        width: 90%;
        height: fit-content;
        margin: 18px;
        text-align:left;
        font-size: 30px; 
        padding: 15px;
        border: 2px solid black;
        min-width: 381px;
        box-shadow: 2px 3px rgb(89, 89, 89);
        border-radius: 10px;
    }

    #home {
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 3.9rem;
    }


    
    .logoHome {
        height: 100vw;
        padding-top: 18%;
        padding-right: 17%;
    }

    .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 120px;
        padding: 17px;
        background-color: rgb(133, 131, 131);
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        border-top: 3px solid black;
    }

    .copyright {
        width: 30%;
        float: right;
        right: 0;
        color: white;
        margin-left: 150px;
        font-size: 2.5vw;
    }
}